main{
    margin-top: 84px;
}

footer{
    margin-top: 40px;
}
/* căn giữa tiêu đề tạo bóng */
.header{
  margin-top: 40px;
  text-align: center;
  line-height: 160px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #80BCBD;
}
.header::after{
    position: relative;
    left: 50%;
    display: block;
    content: "";
    width: 200px;
    height: 5px;
    transform: skewX(-12deg) translateX(-50%);
    background: radial-gradient(#AAD9BB, #fff);
}
/* điều chỉnh hình ảnh */
.container {
    display: flex; /* Thiết lập container để sử dụng flexbox */
    flex-wrap: wrap; /* Cho phép các items bên trong container tự động xuống dòng */
    justify-content: space-around; /* Phân bố khoảng trống xung quanh mỗi item */
    padding: 10px; /* Khoảng cách từ cạnh container đến các items bên trong */
  }
  .img {
    width: 100%; /* Đảm bảo hình ảnh vừa khung */
    height: 50%;
    object-fit: cover; /* Hiển thị hình ảnh mà không làm biến dạng */
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Tạo bóng đổ cho card */
    transition: 0.3s; /* Thời gian chuyển đổi cho hiệu ứng hover */
    width: 30%; /* Chiều rộng của card là 30% so với container */
    margin: 10px; /* Khoảng cách giữa các card */
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Tăng kích thước bóng đổ khi hover */
  }
  .content {
    padding: 20px; /* Khoảng cách từ cạnh card đến nội dung bên trong */
  }
  .content h3{
    text-align: center;
  }
  /* hiển thị đánh giá sao cho hình ảnh */
  .star-rating {
    line-height: 24px; /* Đảm bảo sao và số đánh giá cùng chiều cao */
    text-align: center; /* Căn giữa đánh giá sao */
    font-size: 24px; /* Kích thước của sao */
    color: #ccc; /* Màu sắc của sao chưa được chọn */
  }
  .star-rating .full-star {
    color: #ffc107; /* Màu sắc của sao đã được chọn */
  }
  .star-rating .fa-star-half-o {
    content: "\f089"; /* Unicode của fa-star-half-o */
    color: #ffc107;
  }
  .rating-value {
    display: inline-block; /* Hiển thị số đánh giá cùng dòng với sao */
    font-size: 20px; /* Kích thước của số đánh giá */
    color: #333; /* Màu sắc của số đánh giá */
    margin-left: 5px; /* Khoảng cách từ sao đến số đánh giá */
  }
  /* tạo nút i liên kết với chi tiết */
  #boxs {
    display: block;
  }
  .box{
    padding: 10px;
    text-align: center;
  }
  .an{
    display: none;
  }